// MAIN CONTAINER STYLES

// TOP CONTAINER
.mussel-large {
    display: none;
}

.feature,
.feature .left,
.feature .right {
    position: relative;
    margin-bottom: 10px;
}

.feature img {
    object-fit: cover;
    width: 100%;
    height: $feature-img-height;
}

.feature h2 {
    position: absolute;
    bottom: 0;
    line-height: 50px;
    width: 100%;
    color: $feature-text;
    text-align: left;
    padding-left: 10px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5);
}

// POST/BOTTOM CONTAINER
.post {
    background-color: $container-box-color;
    margin: 10px 0;
    padding: 10px;
}

.post h2 {
    color: $brand-nav-color;
    font-size: 2.3em;
}

.post h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: none;
}

.post img {
    object-fit: contain;
    width: 100%;
    margin: 20px 0;
}

.button-post {
    margin: 10px 0;
    text-align: right;
}

.button-post button {
    background-color: $brand-nav-color;
    color: $text-with-brand-color;
    font-family: $font-condensed;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
}

// MEDIA QUERIES
@media only screen and (min-width: 700px) {
    .feature {
        display: flex;
        justify-content: space-between;
        max-height: 240px;
    }

    .feature .left,
    .feature .right {
      width: 49.5%;
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 800px) {
    .post {
        margin-top: 0;
    }
  }