// HEADER / NAV STYLES

header {
  height: 80px;
  width: 100%;
  background-color: $header-color;
  margin: 0;
  padding: 0;
}

.inner-header {
  height: 80px;
  max-width: 1050px;
  margin: 0 20px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-right{
  color: $brand-nav-color;
}

.logo {
  margin: 0; 
  padding: 0;
  display: block;
}

.social {
  display: none; 
}

.hamburger {
  display: block; 
}

nav {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: $brand-color;
}

.inner-nav {
  width: 100%;
  height: 0;
  border: 1px solid $brand-color;
  border-right: none;
  border-left: none;
  background-color: $brand-nav-color;
  overflow: hidden;
  transition: height 0.3s ease;
  margin: 0;
  position: relative;
}

.main-nav-open .inner-nav {
  height: 282px;
}

.inner-nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  flex-direction: column;
}

.inner-nav li {
  flex: 1;
}

.inner-nav a {
  color: white;
  display: block;
  width: 100%;
  text-decoration: none;
  align-items: center;
  text-align: center;
  transition: all .5s ease;
  font-weight: bold;
  font-size: 100%;
  border-bottom: 1px solid #005991;
  border-right: none;
  line-height: 2.5rem;

  &:hover,
  &:focus,
  &:active{
    background-color: white;
    color: $brand-nav-color;
  }
}

form {
  position: relative;
  margin-top: -1px;
}

.search {
  width: 100%;
  background-color: #dedede;
  height: 40px;
  padding: 20px 25px;
  border: none;
  box-shadow: inset 0 0 10px 1px #b3b2b2;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 7px;
  border: none;
  background-color: transparent;
}

.search-mobile1 {
  display: none;
}

.search-mobile2 {
  display: inline-block;
}

.search-desktop {
  display: none;
}

.social-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  color: $brand-nav-color;
  overflow: hidden;
}

.social-mobile .fa-facebook-f::after {
  font-family: "Font Awesome 5 Brands";
  content: "\f39e";
  color: #999999;
}

.social-mobile .fa-facebook-f:before,
.social-mobile .fa-facebook-f:after {
  display: block;
  cursor: pointer;
  transition: transform 200ms ease;
}

.social-mobile .fa-facebook-f:hover:before,
.social-mobile .fa-facebook-f:hover:after {
  transform: translate(0, -100%);
}

.social-mobile .fa-google::after {
  font-family: "Font Awesome 5 Brands";
  content: "\f1a0";
  color: #999999;
}

.social-mobile .fa-google:before,
.social-mobile .fa-google:after {
  display: block;
  cursor: pointer;
  transition: transform 200ms ease;
}

.social-mobile .fa-google:hover:before,
.social-mobile .fa-google:hover:after {
  transform: translate(0, -100%);
}

.social-mobile .fa-twitter::after {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
  color: #999999;
}

.social-mobile .fa-twitter:before,
.social-mobile .fa-twitter:after {
  display: block;
  cursor: pointer;
  transition: transform 200ms ease;
}

.social-mobile .fa-twitter:hover:before,
.social-mobile .fa-twitter:hover:after {
  transform: translate(0, -100%);
}

.fab {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.3rem;
  width: 100%;
  padding: 0 10px;
}

.inner-nav li:last-of-type {
  background-color: white;
  border-right: none;
}

.inner-nav li:last-of-type a {
  background-color: white;
  padding: 3px 5px 0;
  flex: 0;
  border-bottom: none;
  border-right: none;
}

// MEDIA QUERIES

@media only screen and (min-width: 600px) {

  .hamburger{
    display: none; 
  }
  
  .inner-nav {
    height: 40px;
    max-width: 1050px;
    background-color:$brand-nav-color;    
    margin: 0 auto;
  }

  .main-nav-open .inner-nav{
    height: 41px;
  }

  .inner-nav ul {
    flex-direction: row;
  }
  
  .inner-nav li {
    flex: 1;
    line-height: 40px;
  }
    
  .inner-nav a {
    border-bottom: 1px solid $brand-color;	
    border-right: none;
    width: 100%;
    display: block;
  }

  .search{
    padding: 0 25px;
  }

  .search-icon{
    right: 20px;
  }

  .search-mobile1{
    display: inline-block;
  }

  .search-mobile2{
    display: none;
  }

  .social-mobile{
    display: none;
  }

  .inner-nav li:last-of-type{
    background-color: white;
    border-right: none;
  }

  .inner-nav li:last-of-type a{
    background-color: white;
    padding: 3px 5px 0;
    flex: 0;
    border-bottom: none;
    border-right: none;
  }
}

@media only screen and (min-width: 700px) {

  .header-right {
    display: flex;
    color: $brand-nav-color;
  };
  
  .social{
    display: block;
    padding: 10px 0 0;
  }

  .search-mobile1{
    display: flex;
    position: relative;
    top: 5px;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
  }

  .social .fab {
    transition: 0.3s;
  }

  .social .facebook:hover,
  .social .google:hover,
  .social .twitter:hover {
    color: $social-hover-color;
    cursor: pointer;
  }
}

@media only screen and (min-width: 800px){

  .search-mobile1 {
    display: none;
 } 

  .search-desktop {
    display: block;
  }
 
 .inner-header .search-icon {
   display: none;
 }

 .search1 {
   display: none;
 }
}

@media only screen and (min-width: 980px){

  .inner-header {
    margin: 0 auto;
    padding: 0 10px;
  }
  .inner-nav {
    margin: 0 auto;
  }
}