// ICON STYLES

img.hamburger {
  object-fit: none;
  object-position: 0 0;
  width: 35px;
  height: 35px;
  transition: all .0.5s ease;
      
  &:hover,
  &:focus,
  &:active {
      object-position: 0 -35px;
      cursor: pointer;
  }
}

img.posts-btn{
  object-fit: none;
  object-position: 0 0;
  width: 225px;
  height: 21px;
  transition: all .0.5s ease;
  padding: 0;
  margin: 20px 0;

  &:hover,
  &:focus,
  &:active {
      object-position: 0 -21px;
      cursor: pointer;
  }
}
