  // Media Queries
  @media only screen and (min-width: 800px) {
    main {
      display: grid;
      grid-template-columns: auto 220px;
    }

    .sidebar {
        grid-row: span 2;
        margin-left: 10px;
    }
  
    .post {
        margin-top: 0;
    }
  }